* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

header h1 {
    position: absolute;
    font-family: Georgia, 'Times New Roman', Times, serif;
    left: 31%;
    opacity: 100;
    font-size: 75px;
    animation: bounce 1.5s infinite ease-in-out;
}

@keyframes bounce {
    0% { transform: translateY(0); }
    50% {transform: translateY(-10px); }
    100% {transform: translateY(0); }
}

.menu {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    color: black;
    text-align: center;
}

.menu a {
    text-decoration: none;
    color: black;
    margin: 0 15px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
    width: 100%;
    font-size: 20px;
}

footer .footer{
    font-size: 25px;
    text-align: center;
}

footer .address {
    text-align: center;
}

footer .contact {
    text-align: center;
}

footer .source {
    text-align: center;
    font-size: 15px;
}
.main {
    font-size: 50px;
    text-align: center;
    margin: 50px 0px;
}

.main-body {
    font-size: 35px;
    text-align: center;
    margin: 50px 0;
}

.mission {
    font-size: 35px;
    margin: 50px 0;
}

.about {
    text-align: center;
    font-size: 35px;
    margin: 50px 0;
}

.about-photo img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: 30px auto;
    object-fit: cover;
    display: block;
}

.about-body {
    font-size: 25px;
    text-align: center;
}

.events * {
    font-size: 25px;
    align-items: center;
    margin: 25px auto;
    margin-top: 10px;
}

.events-main {
    font-size: 35px;
    text-align: center;
    margin-top: 30px;
}

.resource {
    font-size: 35px;
    text-align: center;
    margin-top: 30px;
}

.gallery {
    font-size: 35px;
    text-align: center;
    margin-top: 30px;
}

.gallery-body img {
    display: flex;
    width: 400px;
    height: 250px;
    margin: 20px auto;
    display: block;
}

.resource-body {
    margin-bottom: 40px;
}

.resource-body p {
    font-size: 20px;
}

.resource-body a {
    font-size: 20px;
}